@import "~taro-ui/dist/style/index.scss";

$priceColor: #fc9105;
$delColor: #ccc;

.product-page {
    .product-msg {
        margin: 10px;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 25px;

        .price {

            text {
                color: $priceColor;
                font-size: 1.25rem;
                margin-right: 15px;
            }

            text::before {
                content: "￥";
            }

            .del {
                font-size: 0.85rem;
                color: $delColor;
                text-decoration: line-through;
            }
        }

        .name {
            text {
                font-size: 0.80rem;
            }

        }

        .msg {
            .msg-title {
                background-color: #fc9105;
                color: #fff;
                padding: 5px 15px;
                border: #fc9105 solid 1px;
                border-radius: 15px;
            }

            text {
                font-size: 0.70rem;
            }

        }
    }

    .choice-msg {
        padding: 5px;
        margin: 15px 10px;
        border: solid 1px #ccc;
        border-radius: 15px;
        display: flex;
        align-items: center;

        .at-icon-bullet-list {
            width: 60px;
        }

        text {
            width: calc(100% - 60px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    .product-page-bottom {
        position: fixed; 
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 5px 0px;
        background-color: #fff;
        box-shadow: 0px -5px 5px #ccc;
        text-align: center;

        .product-page-star {
            width: 2rem;

            :last-child {
                font-size: 0.5rem;
            }
        }

        .product-page-operation {
            width: 12rem;
            display: flex;
            border-radius: 1rem;
            overflow: hidden;

            .product-page-operation-item:first-child {
                border-right: solid 3px #aaa;
            }

            .product-page-operation-item {
                flex: 1;
                background-color: #fc9105;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }


    .product-img-msg {
        .img {
            img {
                width: 100%;
            }
        }
    }
}



.MyTags {
    margin-bottom: 20px;

    .at-tag {
        margin-right: 20px;
    }
}