.nav { 
    .nav-search {
        position: fixed;
        width: calc(100% - 52px);
        top: 0px;
        left: 0px;
        display: flex;
        padding: 15px 20px;
        margin: 10px 5px;
        border: solid 1px #ccc;
        border-radius: 50px;
        background-color: #fff;
        z-index: 99999;
        input {
            flex: 1;
        }
        .nav-search-item {
            width: 3rem;
            text-align: center;
            border: solid 1px #ccc;
            border-radius: 50px;
        }
    }
}
