// 卡片左右格式
.card.flex{
    display: flex;
    width: calc(100% - 40px);
    height: 300px;
    align-items: center; 
    view{
        flex: 1;
    }
}

// 卡片上下格式
.card {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 5px;
    border: solid 1px #ccc;
    border-radius: 15px;
    .card-img {
        position: relative;
        width: 300px;
        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
        // h5 补充样式
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
    }
    .card-main {
        width: 300px;
        padding: 5px;
        view {
            margin: 5px 0px;
        }
        .card-main-title {
            text{
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 1.25rem;
                font-weight: bold;
            }
            
        }
        .card-main-price {
            color: #f00;
        }
        .card-main-price::before{
            content: "￥";
        }

        .card-main-msg {
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-clamp: 2;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}
